.container
{
    font-family: 'Roboto Slab', serif;
    p
    {
        font-size: 25px;
    }
    label
    {
    font-size: 20px;
    }
    input,select
    {
        padding-left: 25px;
    }
    option
    {
        font-size: 16px;
    }
    .image
    {
        padding: 87px 12px;
         img
        {
            width: 643px;
            height: 289p
        }
    }

}
#message,#messageAlert
        {
          display: none;
        }
@media only screen and (max-width: 600px)
{
    .image
    {
        display: none;
    }
}