.carousel
{
  margin-top: 105px;
  .carousel-inner img {
    width: 100%;
    height: 700px;
  }
}

.allProducts
{
  font-family: 'Roboto Slab', serif;
  .latest
{
  text-align: center;
  margin-top: 75px;
  p
  {
    font-size: 55px;
  }
}
.products
{
  img
  {
    width: 100%;
    height: 270px;
  }
}
.product
{
  margin-bottom: 25px;
  a
  {
    color: inherit;
    text-decoration: none;
  }
  .product-name
{
display: block;
padding-top: 15px;
text-align: center;
font-size: 21px;
}
.price
{
padding-top: 18px;
text-align: center;
  #old-price
  {
    font-size: 17px;
    color: #a6a6a6;
   text-decoration: line-through;
  }
  #new-price
  {
    font-size: 23px;
    padding-left: 4px;
    font-weight: bold;
  }
}
}
}


 .quotefield
 {
   text-align: center;
   padding-top: 35px;
   background-image: url(/images/quote.jpg);
   min-height: 415px;
   background-size: cover;
   background-attachment: scroll;
   background-position-y: center;
   #quote
   {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
   }
 }


 @media only screen and (max-width: 600px) {
  
  .carousel-inner img {
    width: 100%;
    height: 545px !important;
  }
  #latest
  {
   font-size: 41px;
  }
 }
