.container
{
    font-family: 'Raleway', sans-serif;  
    padding-top: 40px;
    #new_product
    {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;       
    }
}
    