.orders-table
{
    padding-top: 20px;
    .verify
    {
        font-size: 16px; 
        color: white;;
    }

}
.sort
{
    .sortlabel
    {
        font-size: 17px;
    }
    padding-top:40px;
   button
   {
       margin-left: 10px;
   }
}